<div class="navbar" style>
    <app-filter style="width: 100%" (changed)='filterChanged($event)'></app-filter>
</div>
<div class="card">
    <div class="card-body">

        <div class="table-wrapper-2">

            <!--Table-->
            <table class="table table-responsive-md">
                <thead class="mdb-color lighten-4">
                    <tr>

                        <th class="th-lg"  (click)="sort('length')">Length</th>
                        <th class="th-lg"  (click)="sort('status')">Status</th>
                        <th class="th-lg"  (click)="sort('date')">Date</th>
                        <th class="th-lg"  (click)="sort('start')">Start</th>
                        <th class="th-lg"  (click)="sort('finish')">Finish</th>
                        <th class="th-lg"  (click)="sort('description')">Description</th>
                        <th class="th-lg"></th>
                        <th class="th-lg"></th>
                        <th class="th-lg"></th>
                    </tr>
                </thead>
                <tbody *ngFor= "let sprint of filteredSprintList">
                  <tr>
                    <td>{{sprint.length}}</td>
                    <td>{{sprint.status}}</td>
                    <td>{{sprint.date}}</td>
                    <td>{{sprint.start}}</td>
                    <td>{{sprint.finish}}</td>
                    <td>{{sprint.description}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </tbody>
            </table>
            <!--Table-->
            <app-pagination [totalItems]="totalRecords"
            [pageSize]="pageSize"
            (pageChanged)="pageChanged($event)"></app-pagination>

        </div>

    </div>

</div>

<div id='delete' class='d-f p-2 justify-content-center align-items-center'>
  <button (click)='delete($event)' class='btn-content'>delete all data</button>
</div>

