<nav class="navbar">
  <div class="container-fluid">
    <img alt="Sprints Logo" class="navbar-left" src="/assets/logo.png" />
    <a class="nav-link font-italic" href="#">≡Sprint</a>
      <form class="form-inline">
          <button id="qsLoginBtn"
          class="btn  my-2 my-sm-0"
          *ngIf="!auth.isAuthenticated()"
          (click)="auth.login()" type="button">
            Log In
        </button>

        <button id="qsLogoutBtn"
          class="btn my-2 my-sm-0"
          *ngIf="auth.isAuthenticated()"
          (click)="auth.logout()" type="button">
            Log Out
        </button>

      </form>
  </div>
</nav>
