<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" item-width="100%">
        <div class="modal-header d-flex  p-2 justify-content-around align-items-center flex-column">
          <h1 class="modal-title" id="exampleModalLongTitle">Terms and Conditions</h1>
          <ol style="padding: 0em 1.5em">
            <li>
              <h3>You understand this is an alpha version.</h3>
              <p> Long term persistence of your data is not guaranteed.</p>
            </li>
          </ol>
          <p>version 0.2</p>
        </div>
      </div>
    </div>
  </div>
